page-slides {
    .bg-style {
        background-image: url('../assets/images/bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .logoLogin{
        width: 70%;
        margin: 5% auto
    }
}  